div.output-block-card {
    margin-top: 6pt;
}
table.output {
    display: table;
    table-layout: fixed;
    word-break: break-all;
}
table.output td {
    vertical-align: top;
}
table.output pre {
    line-height: 1.2;
    font-size: 87.5%;
    white-space: pre-wrap;
    width: 100%;
    margin: 0;
}
table.output div[line-number]::before {
    line-height: 1.2;
    font-size: 87.5%;
    font-family: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
    opacity: 0.5;
    white-space: pre;
    content: attr(line-number) ". ";
    display: block;
    float: left;
}

