<div>
    <div class="search-controls">
        <div class="search-controls-right">
            <div class="search-inputs">
                <div class="collapse {cmd_id}-{name}-search-inputs">
                    <input type="checkbox"
                           id="{cmd_id}-{name}-show-duplicates-checkbox"
                           onclick="outputSearch(this)"
                           name="{cmd_id}-{name}-show-duplicates">
                    <label for="{cmd_id}-{name}-show-duplicates">
                        Show duplicates
                    </label>
                    <input type="checkbox"
                           id="{cmd_id}-{name}-show-neighbors-checkbox"
                           onclick="outputSearch(this)"
                           name="{cmd_id}-{name}-show-neighbors">
                    <label for="{cmd_id}-{name}-show-neighbors">
                        Show nearby
                    </label>
                    <input type="text"
                           id="{cmd_id}-{name}-search-text"
                           target="{cmd_id}-{name}-code"
                           placeholder="Regex Search...">
                    </input>
                    <button type="button"
                            id="{cmd_id}-{name}-search-button"
                            onclick="outputSearch(this)"
                            class="btn btn-primary output-search-button">
                        Search
                    </button>
                </div>
            </div>
            <svg type="button"
                 role="button"
                 data-target=".{cmd_id}-{name}-search-inputs"
                 data-toggle="collapse"
                 width="16pt"
                 height="16pt">
                <use href="#search-icon" />
            </svg>
        </div>
    </div>
    <table class="output" id="{cmd_id}-{name}-code">
        <tbody>
            {table_contents}
        </tbody>
    </table>
</div>
