<div>
    <input type="text"
           id="{cmd_id}-{title}-search"
           onkeyup="outputSearch(this)"
           target="{cmd_id}-{title}-table"
           placeholder="Regex Search...">
    <input type="checkbox"
           id="{cmd_id}-{title}-checkbox"
           onclick="outputSearch(this)"
           name="{cmd_id}-{title}-show-duplicates">
    <label for="{cmd_id}-{title}-show-duplicates"> Show duplicates</label><br>
    <table class="output display table" id="{cmd_id}-{title}-table">
        <tbody>
{table_contents}
        </tbody>
    </table>
</div>

